body,
h1,
h2,
h3,
p,
a,
button,
ul,
li,
input {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--main-font, sans-serif);
}

h1,
h2,
h3 {
  color: var(--secondary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: underline;
  text-underline-offset: 2px;
}

a:hover {
  opacity: 0.8;
}
