:root.theme-light {
  --primary-color: #fff;
  --secondary-color: #000;

  --background-primary: hsl(var(--primary-hue) 0% 100% / 1);
  --background-secondary: hsl(var(--primary-hue) 0% 98% / 1);
  --background-tertiary: hsl(var(--primary-hue) 0% 96% / 1);

  --border-color: hsl(var(--primary-hue) 0% 80% / 1);
}

:root.theme-dark {
  --primary-color: #000;
  --secondary-color: #fff;

  --background-primary: hsl(var(--primary-hue) 0% 0% / 1);
  --background-secondary: hsl(var(--primary-hue) 0% 9% / 1);
  --background-tertiary: hsl(var(--primary-hue) 0% 11% / 1);

  --border-color: hsl(var(--primary-hue) 0% 20% / 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #fff;
    --secondary-color: #000;

    --background-primary: hsl(var(--primary-hue) 0% 100% / 1);
    --background-secondary: hsl(var(--primary-hue) 0% 98% / 1);
    --background-tertiary: hsl(var(--primary-hue) 0% 96% / 1);

    --border-color: hsl(var(--primary-hue) 0% 80% / 1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #000;
    --secondary-color: #fff;

    --background-primary: hsl(var(--primary-hue) 0% 0% / 1);
    --background-secondary: hsl(var(--primary-hue) 0% 9% / 1);
    --background-tertiary: hsl(var(--primary-hue) 0% 11% / 1);

    --border-color: hsl(var(--primary-hue) 0% 20% / 1);
  }
}
